<section class="container">
  <h1 class="title">Portfolio</h1>
  <div class="flex-container">
    {{ range .Paginator.Pages }}
      <div class="portfolio-card flex-col">
          <h2>
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </h2>
          <p>
            {{ .Params.Summary }}
          </p>
          {{ if eq (.Params.project_url) ("https://webdevil.biz")}}
            <p><em>You're on this website already!</em></p>
          {{ else }}
          <p>
            <a href="{{ .Params.project_url }}">
              Visit the site
            </a>
          </p>
          {{ end }}
          <p>
            <a href="{{ .Permalink }}">
              Read More
            </a>
          </p>
          <div class="inner-flex-grid">
            {{ range $category := .Params.Categories }}
                <span class="category-bubble">
                  <a href="/categories/{{ $category | urlize | lower }}">{{ $category }}</a>
                </span>
            {{ end }}
          </div>
      </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</section>
